@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark.App{
  /*
  ========DARK========
  */
  --txt-primary: #f5f5f5;
  --txt-secondary: #282c34;
  --txt-hover: #d4c600;
  --bg-primary: #282c34;
  --bg-secondary: #ececec;
  --tile-shadow: rgba(255, 255, 255, 0.4);  
}
.light.App{
  /*
  =======LIGHT=======
  */
  --txt-primary: #282c34;
  --txt-secondary: #f5f5f5;
  --txt-hover: #bb5a00;
  --bg-primary: #ececec;
  --bg-secondary: #282c34;
  --tile-shadow: rgba(0, 0, 0, 0.4);
}

*{
  color: var(--txt-primary)
}

.App{
  background-color: var(--bg-primary);
  min-height: 90vh;
}

.App-header{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  padding-inline: 2em;
  padding-block: 1em;
}

.App-header__logo-title__wrapper{
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: .3em;
  padding: .2em 1em .2em .5em;
}

.App-header__logo{
  width: 4em;
  animation-name: App-header__logo-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

.App-header__title{
color: var(--txt-secondary);
}