.tile{
    border-radius: .5em;
    box-shadow: 0px 2px 4px 1px rgba(107, 105, 105, 0.26);
}
.dark .tile{
    background-color: var(--bg-secondary);
    box-shadow: none;
}


/*--------ARNIE-------*/

.arnie{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    list-style-type: none;
    width: 80%;
    margin-inline: auto;
    align-items: stretch;
}

.arnia__tile{    
    flex-grow: 1;    
    max-width: min(30em, 100%);
    min-height: 15em;
}
.nota.arnia__tile{
    background-color: var(--txt-accent);    
}
.light .nota.arnia__tile{
    box-shadow: 0px 2px 4px 1px rgba(221, 124, 124, 0.986);
}

.arnia__tile__link{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em;
    text-decoration: none;
}

.arnia__tile__title{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.dark .arnia__tile__title{
    color: var(--txt-secondary);
}
.arnia__tile__info__list{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.arnia__tile__info{
    display: flex;
    align-items: baseline;
}
.dark .arnia__tile__info *{
    color: var(--txt-secondary);    
}
.arnia__tile__info__title::after{
    content: ':';
    margin-right: 1ch;
}
.arnia__tile__info:last-child{
    margin-top: auto;
}

.arnia__tile__info__content{
    text-transform: capitalize;
}





/*--------ARNIA-------*/

.data__list__wrapper{
    padding: 0 2em;
}

.data__title{
    color: var(--txt-accent);
    text-align: center;
    font-size: 2em;
}

.data__fieldset{
    margin: 2em 0;
    padding: 0 2em .5em;
}

.data__list{
    list-style-type: none;
    padding: 1.5em 2em;
    flex-basis: 100%;
    min-width: fit-content;
}

.data__list--flex{
    display: flex;
    align-items: stretch;
    gap: 2em;
    overflow-x: scroll;
    scroll-snap-align: start;
    scroll-snap-type: x;
    padding: 2em .2em;
}
.data__list__title{
    color: var(--txt-accent);
    font-size: 1.25em;
    font-weight: bold;
}

.data__item{
    display: flex;
    align-items: baseline;    
    gap: 1em;
    margin: 1em 0 0;
    flex-basis: 100%;
}
.data__item:last-child{
    margin-bottom: 1em;
}

.data__type{
    min-width: 7em;
    font-size: 1.25em;
    font-weight: bold;
}
.data__type::after{
    content:':';    
}
.data{
    margin-left: auto;
}
.dark .data__type,
.dark .data{
    color: var(--txt-secondary);
}

.data.input{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: .5em;
    width: 100%;
}
.dark.data.input{
    color: var(--txt-secondary);
}

.data__buttons{
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 2em 0 2em;
}
.data__button{
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    width: 10rem;
    height: 5rem;
    border-radius: 1em;
    font-size: 1.5em;
}