.theme-switch-button{
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 4em;
  height: 3em;
  padding: 0;
  border-radius: .5em;
  transition: background-color .25s ease-in-out;
  margin-left: auto;
}

.theme-switch{
  font-size: 3em;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
  color: var(--txt-primary);
}

.theme-switch-button:hover,
.theme-switch-button:focus{
  background-color: var(--bg-secondary);
}
.theme-switch-button:hover .theme-switch,
.theme-switch-button:focus .theme-switch{
  color: var(--txt-secondary);
}